* {
	margin: 0;
}

p {
	background: #FF0143;
	margin: 100px;
	
}

strong, 
a {
	background: orange;

}
/* proprete margin : racourcis margin-top: 50px;
margin-left: 20px;
margin-bottom: 30px;
margin-right: 40px;
margin : 50px 40px 30px 20px;
margin : 50px 40px; 50px top et bottom 40px en right et left
margin : 40px; tout autours
*/