* {
	margin: 0;
}

* {
	
	margin: 0;
	
}

p {
	background: #FA0606;
	padding: 50px, 0;
}
.container {
	background: #0309FF;
}
/* proprete margin : racourcis margin-top: 50px;
margin-left: 20px;
margin-bottom: 30px;
margin-right: 40px;
margin : 50px 40px 30px 20px;
margin : 50px 40px; 50px top et bottom 40px en right et left
margin : 40px; tout autours
*/