* {
	margin: 0;
}


p {
	background: #FA0606;
	display: inline-block;
	width: 400px;
	margin: 0 50px;
	padding: 0 50px;
	border: 10px solid black;

	
}
.container {
	background: #0309FF;
}
/* proprete margin : racourcis margin-top: 50px;
margin-left: 20px;
margin-bottom: 30px;
margin-right: 40px;
margin : 50px 40px 30px 20px;
margin : 50px 40px; 50px top et bottom 40px en right et left
margin : 40px; tout autours
*/