* {
	margin: 0;
}

p {
	background: #FA0606;
	display: inline-block;
	width: 50%;
	font-size: 1rem;
}

.container {
	background: white;
	font-size: 0;
}

a {
	background: yellow;
	font-size: 1rem;
	padding: .5rem;
	margin: .5rem 0;
	display: inline-block;

}
/* proprete margin : racourcis margin-top: 50px;
margin-left: 20px;
margin-bottom: 30px;
margin-right: 40px;
margin : 50px 40px 30px 20px;
margin : 50px 40px; 50px top et bottom 40px en right et left
margin : 40px; tout autours
*/