main{
	font-size: 0;
}

	.column {
	display: inline-block;
	font-size: 0em;/*1*0=0* on est obligue de maitre rem*/
	font-size: 1rem;
}

.w33{
	width: 33.333%;
}

.inColumn {
	padding: 0 1rem;
	/*on a bien laisse les margin top et bottom du user agent en em*/
}
h1{
	font-size: 2rem;
}

