/*selecteur simple*/
p {
	background: red;
/*cibler tous les p de dom*/
}

/*selecteur d'id*/
#green{
	/*cible l'element html qui porte l'attribut id = "green"*/
	background: green;
}
/*selecteur de classe*/
.purple{
	/*cible tous element de dom qui ont un l'attribut class = "purple"*/
	background: purple;
}

/*selecteur d'attribut*/
[href]{
	/*cible tous les elements du dom qui ont un attribut href*/
	background: orange;
}
[href="pages/page1.html"]{
	/*cible tous les elements du dom qui ont un attribut href="pages/page1.html"*/
	background: yellow;
}
/**/
[href*="http"]{
	/*cible tous les elements du dom qui ont un attribut dont la valeur contient la chaine "http"*/
	background: white;
}

/*selecteurs d'adjascence*/
.container p{
	/*on cible tous les p descendant d'un classe = "container" */
	background: pink;
}
.container > p{
	/*on cible tous les p du dom enfants direct d'un classe = "container" */
	background: brown;
}
/*selecteur pour cibler tous les p descendant d'un article enfant direct de .container*/
.container  > article p{
	/*on cible tous les p descendant d'un classe = "container" */
	background: #051CFD;
}
/*selecteur cibler tous les p enfant direct de .container*/
.container  > article > p{
	/*on cible tous les p descendant d'un classe = "container" */
	background: #FD05EE;
}
.container article > div + p{
	/*cible p frere suivant d'un div lui meme enfant direct d'un article lui meme descendant d'un .container*/
	background: #FB7F06
}
p.ilesttard {
	/*cible tous les p du dom qui ont l'attribut class ="ilesttard"*/
	background: black;

}
.ilesttard {
	/*cible tous les elements du dom qui ont l'attribut class ="ilesttard"*/
	background: yellow;
}
/*pseudo selecteur*/
.test p:first-child{
	/*cible 1 enfant p descendant d'un element class="test"*/
	background: orange;
}
.test p:nth-child(2){
	/*cible 2 enfant p descendant d'un element class="test"*/
	background: purple;
}
.test p:last-child{
	/*cible le dernier enfant p descendant d'un element class="test"*/
	background: red;
}

a{
	color: black;
}
a:hover{
	color:blue;
}