p{
	background: red /*!important a eviter completement*/;
}


.green{
	background: green;
}

p{
	background: blue;
}
[class = "green"]{
	background: purple;
}
#pink{
	background: pink;
}
.green{
	background: green /*!important a eviter completement*/;
}

p:first-of-type{
	/*le premier element de type p*/
	background: brown;
}
