/*=============================================*/
/*					COLORS 					   */
/*=============================================*/

body > header p,
body > header a, 
body > footer a {
	color: white;
}

main p {
	color: grey;
}

main a {
	color: blue;
}

body > header,
body > footer {
	background: grey;
}
.btn {
	background: purple;
	color: white;
}

/*=============================================*/
/*					FONTS					   */
/*=============================================*/

body > header p,
body > header a,
main p,
main a,
body > footer a {
	font-size: 1rem;
}

main h2 {
	font-size: 1.33rem;
	/*font size du p x 4/3 */
}
main h1 {
	font-size: 1.78rem; 
	/*font size du h2 x 4/3 */
}
body {
	font-size: 0;
}

/*=============================================*/
/*					LAYOUT 					   */
/*=============================================*/
* {
	box-sizing: border-box;
	 /*permet d'inclure le padding et le border dans le width */
}
.col-3 {
	width: calc(100%/12*3);
}
.col-4 {
	width: calc(100%/12*4);
}
.col-6 {
	width: calc(100%/12*6);
}
.col-9 {
	width: calc(100%/12*9);
}

[class*="col-"] {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
}


/*=============================================*/
/*					BUTTONS					   */
/*=============================================*/
.btn {
	padding: .5em 1em;
	margin: 1em 0 1em 50%;
	display: inline-block;
	transform: translatex(-50%);
}
/*=============================================*/
/*					HEADER 					   */
/*=============================================*/

/*=============================================*/
/*					MAIN 					   */
/*=============================================*/
main h1,
main h2 {
	padding-left: 1rem;
	padding-right: 1rem;
}

/*=============================================*/
/*					FOOTER 					   */
/*=============================================*/