/**{
	background: rgba(0,0,0,.2);
	border: 1px solid black;
	min-height: 30px;
}*/
/*=============================================*/
/*					COLORS 					   */
/*=============================================*/

body > header a,
.feature p{
	color: #424141;
}

body > header a:hover,
body > footer a:hover{
	transition: all .3s;
	color: #FFB10B;
}

.bandeau h1,
.getStarting h1,
.btn,
body > footer a,
body > footer p{
	color: #fff;
}

.btn{
	border: 1px solid #fff;
}

.marketplace h1,
.marketplace p,
.socialmedia h1{
	color: #232323;
}


body > header,
.feature{
	background: #fff;
}
.marketplace,
.socialmedia{
	background: #FFB10B;
}
body > footer{
	background: #232323;
}

.bandeau{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf5499+1,a044aa+49,8a00ad+100 */
background: #bf5499; /* Old browsers */
background: -moz-linear-gradient(top, #bf5499 1%, #a044aa 49%, #8a00ad 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #bf5499 1%,#a044aa 49%,#8a00ad 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #bf5499 1%,#a044aa 49%,#8a00ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf5499', endColorstr='#8a00ad',GradientType=0 ); /* IE6-9 */
}
/*=============================================*/
/*					FONTS					   */
/*=============================================*/

body > header p,
body > header a,
main p,
main a,
body > footer a,
figcaption {
	font-size: 1rem;
}

main h2 {
	font-size: 1.33rem;
	/*font size du p x 4/3 */
}
main h1 {
	font-size: 3rem; 
	/*font size du h2 x 4/3 */
}
body {
	font-size: 0;
}

h1, h2, p, ul{
	margin-top: 0;
}

.bandeau,
.marketplace,
.feature,
.getStarting,
.socialmedia {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

body > header,
body > footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/*=============================================*/
/*					LAYOUT 					   */
/*=============================================*/
* {
	box-sizing: border-box;
	 /*permet d'inclure le padding et le border dans le width */
}

.col-1 {
	width: calc(100%/12*1);
}
.col-2 {
	width: calc(100%/12*2);
}
.col-3 {
	width: calc(100%/12*3);
}
.col-4 {
	width: calc(100%/12*4);
}
.col-5 {
	width: calc(100%/12*5);
}
.col-6 {
	width: calc(100%/12*6);
}
.col-7 {
	width: calc(100%/12*7);
}
.col-8 {
	width: calc(100%/12*8);
}
.col-9 {
	width: calc(100%/12*9);
}
.col-10 {
	width: calc(100%/12*10);
}
.col-11 {
	width: calc(100%/12*11);
}
.col-12 {
	width: calc(100%/12*12);
}

[class*="col-"] {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	vertical-align: top; 
}
img {
	width: 100%;
}
figure{
	margin: 0;
}
.container{
	max-width: 1240px;
	margin: auto;
}

a{
	text-decoration: none;
}
/*=============================================*/
/*					BUTTONS					   */
/*=============================================*/
.btn {
	padding: .5rem 1rem;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 20px;
	font-size: 1rem;
}
/*=============================================*/
/*					HEADER 					   */
/*=============================================*/
nav li{
	display: inline-block;
}
nav ul{
	text-align: right;

}
nav a{
	display: inline-block;
	padding: .5rem, 1rem;
}

/*=============================================*/
/*					MAIN 					   */
/*=============================================*/

/*bandeau*/

/* marketplace*/ /*feature*/
.marketplace,
.feature, 
.socialmedia {
	text-align: center;
}
.marketplace ul,
.socialmedia ul{
	padding-left: 0;
}
.marketplace li,
.socialmedia li{
	list-style: none;
	width: 12%;
	display: inline-block;
	margin-left: 1rem;
	margin-right: 1rem;
}
.socialmedia li{
	list-style: none;
	width: 10%;
	margin-left: .5rem;
	margin-right: .5rem;
}
.getStarting {
	background: url('../assets/img/bg-cta.jpg') center center no-repeat ;
	background-size: cover; 
}
/*=============================================*/
/*					FOOTER 					   */
/*=============================================*/
body > footer {
	text-align: center;
}
body > footer ul{
	padding: 0;
}
body > footer li{
	display: inline-block;
}