* {
	background: rgba(0,0,0,.2);
	border: 1px solid black;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.flex {
	display: flex;
	flex-direction: row;
	flex-direction: row-reverse;
	flex-direction: column;
	flex-direction: column-reverse;
}